doctype html
html
    head
    body
        div.download
            form(name="template", action='/upload', method="post", enctype="multipart/form-data")
                input(type="file", name="jade")
                input(type="submit", value="отправить")
